/*面板样式开始*/
/*面板标题拦样式开始*/
.panel_title {
	color: #686868;
	border: 1px solid #ADADAD;
	background-image: url(../images/panel_title_bg.jpg) ;
	height: 40px;
	font-weight: bold;
	border-radius: 5px 5px 0px 0px;
}

.panel_title span,.dialog_title span {
	display: inline;
	float: left;
	background-repeat: no-repeat;
	font-size: 14px;
}
.panel_title span {
	height: 25px;
	margin: 10px 20px 0px 20px;
	padding: 3px 30px 0px 30px;
}
/*面板标题拦样结束*/

/*面板内容块样式开始*/
.panel_content{
	background-color: #F2F2F2;
	border-right: 1px solid #ADADAD;
	border-left: 1px solid #ADADAD;
	padding: 5px;
	border-radius: 5px 5px 5px 5px;
}
/*面板内容的表格样式开始*/
.panel_content table{
	border:0;
	margin:0;
	border-collapse:collapse;
}

.panel_content table thead tr th,.panel_content table tbody tr td{
	padding:0;
	border: 1px solid #A7A7A7;
}

.panel_content table thead tr {
	background-image: url(../images/th_bg.jpg);
	height: 45px;
}

.panel_content table tbody tr {
	background-image: url(../images/td_bg.jpg);
	height: 40px;
	text-align:center;
}
.panel_content table tbody .tbody_over {
	background-image: url(../images/td_bg.jpg);
	background-position: center;
}
.panel_content table tbody .tbody_click {
	background-image: url(../images/td_bg.jpg);
	background-position: bottom;
}

.panel_content table tbody tr td a.operat{
	display: block;
	width: 16px;
	height: 16px;
}
/*面板内容的表格样式结束*/
/*面板内容块样式结束*/

/*面板页脚样式*/
.panel_footer {
	//background-image: url(../images/panel_footer_bg.jpg);
	height: 30px;
	padding: 10px 0px 7px 20px;
	//border-radius: 0px 0px 5px 5px;
	//border: 1px solid #ADADAD;
}
.login_panel_footer {
	background-image: url(../images/panel_footer_bg.jpg);
	height: 30px;
	padding: 10px 20px 10px 20px;
	border-radius: 0px 0px 5px 5px;
	border: 1px solid #ADADAD;
}
/*面板页脚下的分页样式开始*/
.panel_pagging {
	height: 35px;
	//margin-right: 20px;
	margin-left: 20px;
}
.panel_pagging .page_bar {
	background-color: #2B93DA;
	height: 25px;
	border: 1px solid #2278B2;
	float: right;
	margin-right: 20px;
	padding: 5px;
	color: #FFF;
	border-radius: 5px 5px 0px 0px;
	display: inline;
}
.panel_pagging2 .page_bar2 {
	//background-color: #2B93DA;
	height: 25px;
	//border: 1px solid #2278B2;
	float: right;
	margin-right: 20px;
	padding: 5px;
	//color: #ffffff;
	//border-radius: 0px 0px 5px 5px;
	//display: inline;
}
.panel_pagging .page_bar a {
	display: inline-block;
	float: left;
	color: #FFFFFF;
	padding: 5px 10px 5px 10px;
}
.panel_pagging .page_bar a:hover {
	background-color: #60AEE3;
}

.panel_pagging .page_bar a.number {
	color: #D2D2D2;
}

.panel_pagging .page_bar a.number.current {
	color: #FFFFFF;
	font-weight: bold;
}
/*面板页脚下的分页样式结束*/
/*面板样式结束*/

/*按钮样式开始*/
a .button {
	background-image: url(../images/button_blue_bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
	display: block;
	height: 20px;
	padding-right: 10px;
	padding-left: 10px;
	color: #FFF;
	padding-top: 5px;
	border: 1px solid #3079C5;
	border-radius: 5px 5px 5px 5px;
	text-align: center;
}
a .button.left {
	float: left;
	margin-right: 20px;
}
a .button.right {
	float: right;
	margin-left: 20px;
}

a:hover .button {
	background-position: center;
}

a:active .button {
	background-position: bottom;
	color: #666;
}
/*按钮样式结束*/

/*面板表单布局样式开始*/
.panel_content form, .dialog_content form {
	display: block;
	padding: 5px;
	margin: 0px;
}
.panel_content form .column, .dialog_content form .column {
	margin: 10px 10px 10px 0px;
	height: 35px;
}
.panel_content form .column label, .dialog_content form .column label {
	display: block;
	width: 75px;
	margin-right: 15px;
	text-align: right;
	vertical-align: middle;
	float: left;
	height: 31px;
	line-height: 31px;
	clear: right;
}
.panel_content form .column .field, .dialog_content form .column .field{
	float: left;
}
.dialog_content form .column .field.search_margin {
	margin-right: 15px;
	margin-left: 15px;
}
/*面板表单布局样式结束*

/*表单控件样式开始*/
.clear {
	border-top:1px solid #A7A7A7; 
	height: 25px;
	padding: 10px ;
}
.radio, .checker {
	background-image: url(../images/form/checker.png);
	background-repeat: no-repeat;
	display: block;
	float:left;
	vertical-align:middle;
	height: 15px;
	width: 15px;
}
.radio{
	background-position: 0px -15px;
	margin-right: 4px;
}
.radio.hover{
	background-image: url(../images/form/checker.png);
	background-position: -15px -15px;
}
.radio.click {
	background-image: url(../images/form/checker.png);
	background-position: -30px -15px;
}

.radio.click.hover {
	background-image: url(../images/form/checker.png);
	background-position: -45px -15px;
}
.radio.disable{
	background-image: url(../images/form/checker.png);
	background-position: -60px -15px;
}
.radio.disable.hover{
	background-image: url(../images/form/checker.png);
	background-position: -75px -15px;
}

.checker{
	margin-right: 5px;
	margin-top: 1px;
}
.checker.hover{
	background-image: url(../images/form/checker.png);
	background-position: -15px 0px;
}
.checker.click {
	background-image: url(../images/form/checker.png);
	background-position: -30px 0px;
}

.checker.click.hover {
	background-image: url(../images/form/checker.png);
	background-position: -45px 0px;
}
.checker.disable{
	background-image: url(../images/form/checker.png);
	background-position: -60px 0px;
}
.checker.disable.hover{
	background-image: url(../images/form/checker.png);
	background-position: -75px 0px;
}

/*input select 基础样式*/
.text_input_small,.text_input_big,.selection_container .selection, .text_search_big, .textarea{
	border: 1px solid #B9B9B9;
	vertical-align: middle;
	margin:0px;/*兼容谷歌浏览器 */
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 5px 5px 5px 5px;
	font-family:Verdana, Geneva, sans-serif;
	padding-left: 5px;
	font-size:13px;
}

.textarea{
	resize: none;
	padding-top: 8px;
	padding-bottom: 8px;
}

.text_search_big {
	background-image: url(../images/icons/16/search.png) ;
	height: 28px;
	line-height:28px;
	background-repeat: no-repeat;
	background-position: 99% center;
	padding-right: 25px;
	box-shadow:none;
}

/*小型input样式开始*/
.text_input_big {
	background-image: url(../images/form/text_input_big_bg.jpg);
	height: 28px;
	line-height:28px;
}
/*大型input样式开始*/
.text_input_small {
	background-image: url(../images/form/text_input_small_bg.jpg);
	height: 20px;
	line-height:20px;
}
/*大型select样式开始*/
.selection_container {
	float: left;
	position: relative;
	cursor: pointer;
}

.selection_container .selection {
	height: 30px;
	background-repeat: repeat-x;
	background-color: #FFF;
	padding: 0px;
	
}
.selection_container .selection.up {
	background-image: url(../images/form/text_input_big_bg.jpg);
}
.selection_container .selection.down{
	background-image: url(../images/form/selection_bg.jpg);
	background-position: 0px -90px;
	border-radius: 5px 5px 0px 0px;
}
.selection_container .selection .text{
	float: left;
	height: 30px;
	line-height: 30px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-break:keep-all;
	padding-left: 5px;
}

.selection_container .selection .text.empty {
	color: #999;
}

.selection_container .selection .trigger_up, .selection_container .selection .trigger_down{
	float: right;
	width: 20px;
	border-radius: 0px 5px 5px 0px;
	height: 30px;
	background-repeat: no-repeat;
}

.selection_container .selection .trigger_down {
	background-image: url(../images/form/selection_bg.jpg);
	background-position: 0px -30px;
}

.selection_container .selection .trigger_up {
	background-image: url(../images/form/selection_bg.jpg);
	border-left: 1px solid #B9B9B9;
}
.selection_container ul{
	padding: 0px;
	list-style:none;
	margin: 0px;
	display: none;
	position: absolute;
	background-color: #FFF;
	top: 30px;
	border-bottom: 1px solid #B9B9B9;
	border-left: 1px solid #B9B9B9;
	border-right: 1px solid #B9B9B9;
	left: 0px;
	border-radius: 0px 0px 5px 5px;
}
.selection_container ul li{
	display: block;
}
.selection_container ul .item_box{
	display:block; 
	overflow: auto;
	position:none;
	border-radius:0px;
}
.selection_container ul .item_box ul {
	position: relative;
	border: none;
	display:block;
	top: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.selection_container ul .search {
	margin: 5px;
}

.selection_container ul .item_box ul li {
	padding: 5px;
}
.selection_container ul .over {
	background-color: #2B93DA;
	color: #FFF;
}
/*大型select样式结束*/

/*遮罩层样式开始*/
.el_mask {
    opacity: 0.3;
    filter:alpha(opacity=30);
    position: absolute;
    z-index: 100;
    background-color:black;
}

.el_mask_widget{
	position: absolute;
	z-index: 101;
}

.el_mask_loading_img {
	cursor: wait;
	background:#333 url(../images/loading.gif) no-repeat; 
	width:50px; 
	height:50px;
	left:50%;
	top:50%;
	border-radius: 5px 5px 5px 5px;
	position: absolute;
	z-index: 101;
}
/*遮罩层样式结束*/

/*对话窗口样式开始*/
.dialog_widget {
	background-color: #f2f2f2;
	padding: 5px;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.1);
	border: 1px solid #a7a7a7;
}

.dialog_widget .dialog_title{
	height: 34px;
	font-weight: bold;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 5px 5px 5px 5px;
	background-image: url(../images/dialog_title_bg.jpg);
	border: 1px solid #1a5189;
}

.dialog_widget .dialog_title span{
	color: #FFF;
	margin-left: 10px;
	padding-left: 30px;
	height: 24px;
	padding-top: 3px;
	margin-top: 5px;
}

.dialog_widget .dialog_title .close {
	float: right;
	height: 24px;
	width: 24px;
	background-image: url(../images/close.png);
	margin-right: 10px;
	margin-top: 5px;
	display: inline;
	/**for ie6**/
	_background: none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resources/images/close.png",sizingMethod='crop');
}

.dialog_widget .dialog_title .close.hover {
	background-position: bottom;
	cursor: pointer;
	
}

.dialog_widget .dialog_content form {
	padding:0px;
}

/*对话窗口样式结束*/

/*气泡提示样式开始*/
.tip-yellow {
	z-index:9999999999;
	text-align:left;
	border:1px solid #939393;
	padding:7px;
	min-width:50px;
	max-width:530px;
	color:#8c3901;
	background-color:#fef9d9;
	background-image:url(../images/tip/tip-yellow.png); 
}
.tip-yellow .tip-inner {
	font:bold 13px/18px 'trebuchet ms',arial,helvetica,sans-serif;
	margin-top:-2px;
	padding:0 3px 1px 3px;
}

.tip-yellow .tip-arrow-top {
	margin-top:-7px;
	margin-left:15px;
	top:0;
	left:0;
	width:16px;
	height:10px;
	background:url(../images/tip/tip-yellow_arrows.png) no-repeat;
}
.tip-yellow .tip-arrow-right {
	margin-top:-9px; /* approx. half the height to center it */
	margin-left:-4px;
	top:50%;
	left:100%;
	width:10px;
	height:20px;
	background:url(../images/tip/tip-yellow_arrows.png) no-repeat -16px 0;
}
.tip-yellow .tip-arrow-bottom {
	margin-top:-6px;
	margin-left:15px;
	top:100%;
	left:0;
	width:16px;
	height:13px;
	background:url(../images/tip/tip-yellow_arrows.png) no-repeat -32px 0;
}
.tip-yellow .tip-arrow-left {
	margin-top:-9px; 
	margin-left:-6px;
	top:50%;
	left:0;
	width:10px;
	height:20px;
	background:url(../images/tip/tip-yellow_arrows.png) no-repeat -48px 0;
}
/*气泡提示样式结束*/

.placeholder { 
	color: #666; 
}
.placeholderFocus { 
	color: #000; 
} 
