/* CSS Document */

/* body { */
/* 	margin:0px; */
/* 	background:url(../images/body_bg.jpg); */
/* 	font-family: Verdana, Geneva, sans-serif; */
/* 	font-size: 12px; */
/* } */
#bodybg {   
    width: 100%;    
    height: 100%;    
    position: absolute;    
    left: 0px;    
    top: 0px;    
    z-index: -1;
}
#stretch {   
    width:100%;   
    height:100%;
    left:0px;
    top:0px; 
    position: fixed;
    z-index: -1;  
}
a {
	text-decoration: none;
}

#login_container {
	width: 350px;
	margin-top: 100px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	z-index: 2;
}
.logo {
	height: 30px;
	padding-left: 20px;
	_background: none;
}

/*用户登陆后显示在导航上方的蓝色条开始*/
#account {
	float: right;
	background-color: #2E93DA;
	border: 1px solid #2278b2;
	margin-right: 0px;
	display: inline;
	border-radius: 5px 5px 0px 0px;
}

#account ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#account ul li {
	display: block;
	width: 180px;
	float: left;
	position: relative;
}
#account ul li a{
	display: block;
	height:25px;
	padding: 3px 10px 0 10px;
}

#account ul li a span{
	font-weight: bold;
	color: #FFF;
	padding-left: 30px;
	background-repeat: no-repeat;
	padding-top: 5px;
	height: 20px;
	display: block;
}
#account ul li ul {
	position: absolute;
	z-index: 3;
	top: 29px;
	left: -1px;
	border-right: 1px solid #2278b2;
	border-left: 1px solid #2278b2;
	background-color: #2E93DA;
	display:none;
}

#account ul li ul li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #2278b2;
	
}
#account ul li ul li a {
	padding-bottom: 5px;
	padding-top: 5px;
	display:block;
	height:25px;
}

#account ul li ul li a:hover {
	background-color: #60AEE3;
}
/*用户登陆后显示在导航上方的蓝色条结束*/

/*整个页面布局的大容器*/
#main_container{
	padding-top:20px;
	width:1024px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-right: 5px;
	padding-bottom: 20px;
	padding-left: 5px;
}

/*菜单条样式*/
#menu_bar{
	background:url(../images/menu_bar_bg.jpg);
	height:75px;
	border:solid 1px #BABABA;
	border-radius: 5px 0px 0px 0px;
}

/*导航样式开始*/
#navigation{
	height:65px;
	margin:5px 20px 5px 20px;
}

#navigation a{
	display:block;
	color:#919191;
	height:60px;
	font-weight:bold;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
}

#navigation a:hover{
	background:url(../images/menu_item_over_bg.jpg) repeat-x;
	border-radius: 5px 5px 5px 5px;
	color:#707070;
	border:solid 1px #D4D4D4;
}

#navigation a span{
	display:block;
	padding-top:35px;
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 5px;
	float: left;
}

#navigation ul{
	padding:0px;
	margin:0px;
	list-style:none;		
}

#navigation ul li {
	display:block;
	float:left;
	height:60px;
	margin-right:20px;
	position: relative;
}

#navigation ul li ul{
	position: absolute;
	z-index: 1000;
	top: 65px;
	left: -20px;
	background-color: #f7f7f7;
	border-top: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-left: 1px solid #DDD;
	width: 170px;
	display: none;
}

#navigation ul li ul li{
	float:none;
	height:35px;
	margin:0px;
}

#navigation ul li ul li a{
	height:30px;
	width:170px;
	border-bottom: solid 1px #D3D3D3;
	padding: 5px 0px 0px 0px;
}

#navigation ul li ul li a:hover{
	background-color: #f4eded;
	background-image: none;
	border-radius:0px;
	border:none;
	border-bottom: solid 1px #D3D3D3;
	color: #272727;
}

#navigation ul li ul li a span{
	height:20px;
	background-position: left;
	margin: 0px 0px 0px 5px;
	padding: 5px 0px 0px 30px;
}
#navigation ul li ul li .sub_navigation {
	left: 170px;
	top: -1px;
}
/*导航样式结束*/

/*导航下的主内容区域容器*/
#main_content {
	margin-top: 0px;
}

/*面包屑容器*/
#crumbs {
	height:20px;
	//margin-left:20px;
	//margin-right:20px;
	padding-left:20px;
	padding-right:20px;
	background: #2E93DA;
	border: 1px solid #2278b2;
	padding-top: 5px;
	font-weight: bold;
	color: #FFF;
	border-radius: 0px 0px 5px 5px;
}

#crumbs a{
	color: #CCC;
}
#crumbs a:hover{
	color: #FFF;
}

/*页脚容器*/
#footer {
	margin-top: 20px;
	padding-top: 170px;
	text-align: center;
	height: 20px;
	border-radius: 5px 5px 0px 0px;
}

.notification {
	border-radius: 5px;
	position: relative;
	margin: 0 5px 5px 5px;
	padding: 10px 35px 15px;
	border: 1px solid;
	background-position: 10px 12px !important;
	background-repeat: no-repeat !important;
	font-size: 14px;
}
.information{
	background: #DBE3FF url('../images/icons/16/information.png');
	border-color: #A2B4EE;
	color: #585B66;
}
.notification .close {
	color: #900;
	font-size: 9px;
	position: absolute;
	right: 5px;
	top: 5px;
}